
.MainScreen
    padding 1em
    height 100%
    .graph-light
        display flex
        align-items center
        height 3em
        background salmon
        transition all 0.3s ease-out
        padding 0.2em
        margin-bottom 1em
        overflow hidden
    .graph-sound
        display flex
        align-items center
        height 3em
        background salmon
        transition all 0.3s ease-out
        padding 0.2em
        overflow hidden
    label
        color black
        margin-left 1em
        margin-right 1em
